 body{
    background: #aa4141;
    margin-left: 100px;
    margin-right: 100px;
}

header{
    margin-top: 70px;
} 

h1{
    color: green;
    font-family: fantasy;
}

h2{
    color: yellow;
    font-family: fantasy;
}

footer{
    margin-bottom: 30px;
}

p{
    font-size: 18px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 300px;
} 

.logo{
    width: 30px;
}